.header {
    padding: 24px 48px 24px 48px;
    background-color: #483248;
}

body {
    margin: 0;
}

.logo {
    font-family: Menlo, "Courier New", monospace;
    font-size: 24px;
    font-style: extra-bold;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
    font-family: Menlo, "Courier New", monospace;
    font-size: 18px;
    color: #E5E7EB;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a {
    color: #E5E7EB;
}

.text {
    color: #483248;
}

.banner {
    display: flex;
    justify-content: space-between;
}

.hero {
    display: flex;
    margin-top: 48px;
    margin-bottom: 48px;
    gap: 60px;
}

.button {
    margin-top: 24px;
}

button {
    background-color: #2195b5;
    color: #f9faf8;
    border: none;
    padding: 12px;
    display: inline-block;
    font-family: Menlo, "Courier New", monospace;
    font-size: 16px;
    border-radius: 4px;
}

h1 {
    color: #f9faf8;
    font-weight: extra-bold;
    font-size: 36px;
    font-family: Menlo, "Courier New", monospace;
}

.hero-secondary {
    color: #e5e7eb;
    font-size: 16px;
    font-family: Menlo, "Courier New", monospace;
}

#dont-panic {
    display: flex;
    margin-left: auto;
    max-width: 50%;
    height: auto;
    object-fit: contain;
}

.title {
    color: #1f2937;
    font-size: 24px;
    margin-top: 48px;
    margin-bottom: 48px;
    text-align: center;
    font-family: Menlo, "Courier New", monospace;
    font-weight: extra-bold;
}

.images > img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
}

.sample-entries {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-family: Menlo, "Courier New", monospace;
    font-size: 16px;
}

.entry > .text {
    margin-top: 8px;
}

.social-proof {
    background-color: #000000;
    font-family: Menlo, "Courier New", monospace;
    padding: 48px;
    margin: 48px 0px;
    font-size: 16px;
    font-style: italic;
    color: #E5E7EB;
}

.purchase {
    display: flex;
    justify-content: space-around;
    padding: 32px 32px;
    margin: 72px;
    background-color: #2195b5;
    color: #f9faf8;
    align-items: center;
    border-radius: 4px;
}

.purchase-text {
    display: flex;
    flex-direction: column;
    align-content: center;
    font-family: Menlo, "Courier New", monospace;
    flex-wrap: wrap;

}

.purchase > button {
    border: 2px solid #f9faf8;
}

.footer {
    display: flex;
    background-color: #483248;
    color: #f9faf8;
    margin: 0px;
    justify-content: center;
    align-items: center;
    font-family: Menlo, "Courier New", monospace;
    font-size: 12px;
}

html {
    scroll-behavior: smooth;
}